.app-wrapper{
    display: grid;
    width: 1200px;
    grid-template-areas: 
    "h h"
    "n c"
    "f f";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10 fr;
    /*grid-gap: 10px;*/
    background-color: mediumpurple;
}

/* .app-wrapper-content{

} */


