
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
color: orange;
}


.messages{
    display: grid;
    padding: 10px;
}
