
.messages{
    display: grid;
    padding: 10px;
}

.you{
    border: 2px solid #dedede;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

    border-color: #ccc;

}

.person{
    border: 2px solid #dedede;
    background-color: peachpuff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}

 .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  } 
  
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
 